@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

/* Use a clean default font */
:root { --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, 'Apple Color Emoji', 'Segoe UI Emoji'; }
body { font-family: var(--font-sans); }
